{% extends "auth/auth_base.html" %}

{% block title %}
WMGTSS: Home
{% endblock %}

{% block css %}
{% endblock %}

{% block homeLink %}
<a class="nav-link" href="{{ url_for('base.home') }}">Home</a>
{% endblock %}

{% block boardLinks %}
<li class="nav-item">
	<a class="nav-link" href="{{ url_for('base.QABoardHome') }}">Q&A</a>
</li>
<li class="nav-item">
	<a class="nav-link disabled" href="#">Lecture</a>
</li>
<li class="nav-item">
	<a class="nav-link disabled" href="#">Resource</a>
</li>
<li class="nav-item">
	<a class="nav-link disabled" href="#">Notice</a>
</li>
<li class="nav-item">
	<a class="nav-link disabled" href="#">Calendar</a>
</li>
<li class="nav-item">
	<a class="nav-link disabled" href="#">Quiz</a>
</li>
{% endblock %}

{% block body %}
{% with messages = get_flashed_messages() %}
{% if messages %}
<div style="padding-top: 5rem;">
<div class="container">
	{% for message in messages %}
	<div class="alert alert-success alert-dismissible" role="alert">
	<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
	{{message}}
	</div>
	{% endfor %}
</div>
{% endif %}
{% endwith %}   
<section class="container">
	<div class="card">
		<div class="card-header text-dark bg-light mb-3">{{ title }}</div>
		<div class="card-body">
			<table class="table table-striped" id="userApprovalTable">
				<tr>
					<th>Name</th>
					<th>Email</th>
					<th>User Type</th>
					<th>Approve/Deny</th>
				</tr>
				{% for user in users %}
				<tr>
					<td>{{ user.fName }} {{ user.sName }}</td>
					<td>{{ user.email }}</td>
					<td>{{ user.userType }}</td>
					<td>
						<a class="btn btn-primary" href="/approvals/approve/{{ user.email }}" role="button">Approve</a>
						<a class="btn btn-danger" style="padding-left: 1.5rem; padding-right: 1.5rem;" href="/approvals/deny/{{ user.email }}" role="button">Deny</a>
					</td>
				</tr>
				{% endfor %}
			</table>
		</div>      
	</div>
</section>
</div>
{% endblock %}

