{% extends "auth/auth_base.html" %}

{% block title %}
Banyan Marbella: Log-In
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename = 'home.css') }}">
{% endblock %}

{% block homeLink %}
<a class="nav-link" href="{{ url_for('base.home') }}">Home</a>
{% endblock %}

{% block boardLinks %}
<li class="nav-item">
	<a class="nav-link" href="#">Massages</a>
</li>
<li class="nav-item">
	<a class="nav-link" href="#">Meet Hla Hla</a>
</li>
{% endblock %}


{% block body %}
<section class="vh-100">
	<div class="container py-5 h-100">
	{% with messages = get_flashed_messages() %}
	{% if messages %}
	<div class="container" style="padding-top: 2rem">
		{% for message in messages %}
		<div class="alert alert-warning alert-dismissible" role="alert">
			<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
			{{message}}
		</div>
		{% endfor %}
	</div>
	{% endif %}
	{% endwith %}   
	<div class="row d-flex justify-content-center align-items-center h-75">
		<div class="col col-l-10">
		<div class="card" style="border-radius: 1rem;">
			<div class="row g-0">
			<div class="col-md-6 col-lg-5 d-none d-md-block">
				<img
				src="{{url_for('static',filename = 'images/loginimage.jpg')}}"
				alt="login form"
				class="img-fluid" style="border-radius: 1rem 0 0 1rem;"
				/>
			</div>
			<div class="col-md-6 col-lg-7 d-flex align-items-center">
				<div class="card-body p-4 p-lg-5 text-black">

				<form action="{{ url_for('login.logIn_post') }}" method="POST">

					<div class="d-flex align-items-center mb-3 pb-1">
					<i class="fas fa-cubes fa-2x me-3" style="color: #ff6219;"></i>
					<span class="h1 fw-bold mb-0">Banyan Marbella</span>
					</div>
					<h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Sign into your account</h5>
					<section>
					{%if authError == True%}
					<h6 style="color: #ff0000;">Incorrect Email or Password!</h6>
					{%endif%}
					</section> 
					<div class="form-outline mb-4">
					<input name="userEmail" type="email" id="form2Example17" class="form-control form-control-lg" required/>
					<label class="form-label" for="form2Example17">Email address</label>
					</div>
					<div class="form-outline mb-4">
					<input name="userPassword" type="password" id="form2Example27" class="form-control form-control-lg" required/>
					<label class="form-label" for="form2Example27">Password</label>
					</div>
					<div class="pt-1 mb-4">
					<button class="btn btn-dark btn-lg btn-block" type="submit">Login</button>
					</div>
					<a class="small text-muted" href="#!">Forgot password?</a>
					<p class="mb-5 pb-lg-2" style="color: #393f81;">Don't have an account? <a href="{{url_for('login.register')}}" style="color: #393f81;">Register here</a></p>
				</form>
				</div>
			</div>
			</div>
		</div>
		</div>
	</div>
	</div>
</section>
{% endblock %}

